/* Navbar 1: The Boardroom */
.boardroom {
  background-color: #133B40;
}

.boardroom a {
  color: white;
}

.boardroom .bi-instagram {
  font-size: 1.5rem;
}

/* Navbar 2: Morning Brew */
.morning-brew .nav-item {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2px;
  padding-bottom: 0.5rem;
  color: #E33E19;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300;
  font-size: 18px;
  cursor: pointer !important;
}

.morning-brew .active {
  padding-top: 0px;
  color: black;
}

/* Navbar 3: Buzz's */
.buzzs {
  background-color: rgb(48,73,95);
  color: white;
}